@page "/stock/{Ticker?}" //optional route
@using StockAnalyzer.Core.Interfaces
@using StockAnalyzer.Core.StockAggregate
@inject IRepository<long, StockAnalyzer.Core.StockAggregate.Stock> stockRepo
<h3>Stock</h3>
@if (stock is not null)
{
<p>Ticker: @stock.Ticker</p> 
<p>Volume: @stock.Volume</p>
}
else if (Ticker is not null) 
{
    <p>Ticker: @Ticker not found ! </p>
}
@code {
    [Parameter]
    public string Ticker { get; set; }
    Stock stock;
    protected override async Task OnInitializedAsync()
    {
        stock = await Task.Run(
            () => stockRepo
        .Get(x => x.Ticker.Equals(Ticker,StringComparison.InvariantCultureIgnoreCase))
        .FirstOrDefault()
        );
        Console.WriteLine("DONE!");
    }
}
